<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Curso principal</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div style="text-align: center;">
    <h1>Escolher imagem</h1>
    <img *ngIf="noticia.url" src="{{ noticia.url }}" style="width:100px;height:100px;" (click)="chooseFile()">
    <form ngNoForm>
      <input id="imgNoticia" name="file" type="file" (change)="upload()">
    </form>
  </div>

  <div style="text-align: center;">
    <h1>Escolher imagem com o play</h1>
    <img *ngIf="noticia.url2" src="{{ noticia.url2 }}" style="width:100px;height:100px;" (click)="chooseFile2()">
    <form ngNoForm>
      <input id="imgNoticia2" name="file" type="file" (change)="upload2()">
    </form>
  </div>
  <ion-list>
    <ion-item>
      <ion-label stacked>Id do curso</ion-label>
      <ion-input type="text" [(ngModel)]="noticia.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome do curso</ion-label>
      <ion-input type="text" [(ngModel)]="noticia.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Destinado á qual tipo de usuário</ion-label>
      <ion-input type="text" [(ngModel)]="noticia.tipoDeUsuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Descrição do curso</ion-label>
      <ion-textarea [(ngModel)]="noticia.descricao"></ion-textarea>
    </ion-item>
    <ion-item>
      <button ion-button block (click)="save()">Salvar</button>
    </ion-item>
  </ion-list>
  <table>
    <thead>
      <th>Foto</th>
      <th>Foto2</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Destinado</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <tr *ngFor="let noticia of noticias">
        <td>
          <img [src]="noticia.url">
        </td>
        <td>
          <img [src]="noticia.url2">
        </td>
        <td>{{noticia.nome}}</td>
        <td>{{noticia.descricao}}</td>
        <td>{{noticia.tipoDeUsuario}}</td>
        <td>
          <a href="#" *ngIf="noticia.status=='SUCESSO'" (click)="incluir(noticia.key)">Incluir Módulo</a>
          <br>
          <a href="#" *ngIf="noticia.status=='SUCESSO'" (click)="delete(noticia.key)">Deletar</a>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>